@import '../../../assets/scss/base/colors.scss';

.menuBody {
  position: absolute;

  top: 1rem;
  right: 2rem;

  z-index: 10;
  background-color: $white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.list {
  display: flex;
  flex-flow: column nowrap;
}

.menuItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin: 0 20px;
  padding: 12px 0;
  background-color: $white;

  &:focus-visible {
    outline: none;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $greyEC;

    &:focus-visible {
      border-bottom-color: $orange;
    }
  }

  & > svg {
    margin: 0 7px;
  }
}

.menuItemTablet {
  @extend .menuItem;

  display: none;
}

.closeButton {
  padding: 12px 23px;
  width: 100%;
  border-radius: 0 0 3px 3px;
  background-color: $greyD9;

  &:focus-visible {
    outline: $orange solid 1px;
  }
}

@media all and (min-width: 1024px) {
  .menuItemTablet {
    display: flex;
  }
}
