@import '../../../assets/scss/base/colors.scss';

.userLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  /* padding: 0 6px 0 0; */
  padding: 0 0.375rem;

  & > svg {
    transform: scale(0.45, 0.45);
    margin: 0 7px 0 0;
  }
}

// .userLink > svg {
//   transform: scale(0.5, 0.5);
//   margin: 0 7px 0 0;
// }

.avatar {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
}

.userName {
  color: $orange;
  position: relative;
  /* z-index: 1; */
}

/* @media all and (min-width: 1024px) {
  .userLink {
    padding: 0 0 0 5px;
  }
} */

@media all and (min-width: 1540px) {
  .userLink:hover a {
    text-decoration: underline;
  }
}
