.container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1.5em auto;

  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
}

.img {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

.message {
  margin: 0;

  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
